.postContainer {
    border-radius: 10px;
    background-color: white;
    /* border: solid purple; */
    width: 95%;
    height: max-content;
    margin: 0 auto;
}

.userInfo {
    /* border: solid purple; */
    display: flex;
}

.userInfo img {
    height: 60px;
    border-radius: 50%;
}

.bio {
    padding: .5em;
}


.post_stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center  ;
}

.postImageContainer {
    height: 35vh;
}

.postImageContainer img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
    border-radius: 10px;
    /* margin: .5rem 0; */
    /* border: solid orange; */
}

.post_btns_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid blue; */
    padding: .3rem 0;
}

.post_btns img {
    width: 8vw;
}