#matchingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#cardContainer {
    width: 90vw;
    /* border: solid purple; */
    border-radius: 10px;
}

#imageContainer {
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 60vh;
}

#cardName {
    position: absolute;
    left: 0;
    padding: 5px;
}

#cardImage {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: fill;
}

#generalContainer {
    display: flex;
    width: 95%;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    background-color: #F0F0F0;
    border-radius: 10px;    
    padding: 5px;
}

#infoContainer {
}

.generalInfo {

}

.generalInfo + .generalInfo {
    color: rgba(0, 0, 0, 0.45);
}

#sportContainer {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.sports {
    color: white;
    background-color: #1081E0;
    padding: 5px;
    border-radius: 5px;
}

.sports + .sports {
    background-color: #FD5386;
}

#aboutContainer {
    padding: 5px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

#aboutSection {

}

#labelContainer {
    padding: 5px;
}

.labels {

}